* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  background-color: #15202b;
  color: white;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color:rgba(97, 214, 163, 1);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border:none;
  padding: 0.7rem 1.2rem;
  outline:none; 
  border-radius: 3rem; 
  cursor: pointer;
  transition:all 200ms ease-in;
}

.btn-primary:hover{
  background:rgb(97, 214, 163, 0.8);
}

.faker {
  transition: all 200ms ease-in;
}

.faker:hover {
  color:rgb(255, 58, 58);
}

.illenium{
  height:75px;
  display: flex;
  direction: row;
  flex-wrap: nowrap;
}

.illenium:hover{
  cursor: pointer;
}

.flares-title{
  background-image: linear-gradient(to right, rgb(31, 221, 255), rgb(255, 255, 255), rgba(255, 137, 27, 0.76));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}

.illenium-title {
  transition: all 200ms ease-in;
}

.illenium-title:hover {
  color: rgb(206, 99, 61);
}

.leffen {
  transition: all 200ms ease-in;
}

.leffen:hover {
  color:rgb(252, 255, 58);
}

.nav-list {
  background-color: #15202b;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  font-size:1.5rem;
  margin:0 auto;
  padding: 1rem 0;
  border-radius:var(--radius);
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item{
  list-style:none;
  margin-right: 2rem;
  border-radius: 3rem;
}

.nav-item a{
  text-decoration: none;
  color:white;
  transition:all 200ms ease-in;
}

.nav-item a:hover{
  color: rgb(114, 114, 114);
}

.nav-item:first-child{
  margin-right: auto;
  margin-left:2rem;
}

.newsfeed-title {
  margin:0 auto;
  text-align:center;
}

.refresh{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.shimoshi {
  transition: all 200ms ease-in;
}

.shimoshi:hover {
  color:#741BFE
}

.tweet {
  height: 12rem;
  width: 30rem;
  text-align: center;
  font-size: medium;
  background: rgb(30, 42, 53); 
  margin: 0 auto;
  border: gray solid 0.2px;
  border-radius: 10px;
  list-style: none;
  transition: all 200ms ease-in;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(minmax(4, 1fr));
}

.tweet:hover{
  background-color: rgb(32, 60, 80);
}

.tweetBody {
  color:white;
  font-size: small;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  padding: 0 1rem;
  grid-row: 4;
  grid-column: 1 / span 2;
}

.tweetDate {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  text-align: left;
  grid-row: 2;
  padding: 0 1rem;
}

.tweetTitle {
  color:rgb(167, 255, 196);
  font-size: 1.2rem;
  font-family:Verdana;
  font-weight:bolder;
  text-align: left;
  transition: all 200ms ease-in;
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 0 1rem;
}

.tweetUser {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: Arial;
  text-align: left;
  padding: 1rem 0 0 1rem;
  grid-row-start: 1;
}

.tweetTitle:hover{
  color: rgb(0, 255, 98);
}

.update-btn{
  background-color:rgba(42, 50, 95, 1);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem; 
  width: 30rem;
  border:none;
  padding: 1rem 1.5rem;
  outline:none; 
  border-radius: 1.2rem; 
  cursor: pointer;
  transition:all 200ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update:hover{
  background-color:rgba(42, 50, 95, 0.8);
}

